/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: 'Roboto', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
	font-size:16px;
	font-family: 'Roboto', sans-serif;
       background: #F2F2F2;
        line-height: 25px;
       
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}
p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
        font-family: 'Roboto', sans-serif;
}

a:active,
a:hover {
	outline: 0;
        font-family: 'Roboto', sans-serif;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}



.boma img {
  height: 150px !important;
  width: 350px !important;
}


.boma p {
  font-family: "Roboto",sans-serif;
  font-size: 16px!important;
  font-weight: 400;
  line-height: 30px;
  text-align: justify!important;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body, input, select {
  color: #404040;
  font-family: "Roboto",sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  height: 35px;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
}
body,textarea{
      color: #404040;
  font-family: "Roboto",sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
.sendbutton {
  -moz-user-select: none;
  background-color: #13b1ee;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.429;
  margin-bottom: 0;
  padding: 5px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 100px;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}



blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}



textarea {
	padding-left: 3px;
	width: 100%;
}
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}


/* header css */
.mainheader {
  background: url(../img/top-bar.png);
  box-shadow: 0px 0px 5px 5px #ddd;
  margin-bottom: 5px;
}
.topbar_cintent{}
.topbar_cintent ul {margin:0;padding:0;list-style:none;}
.topbar_cintent ul li{
	text-decoration:none;display:inline-block;
	padding:5px;
	color:#0fb5e9;
	font-size:14px;
}

.topbar_cintent ul li a{
	text-decoration:none;
	
	padding:5px;
	color:#0fb5e9;
	font-size:14px;
}

.topbar_cintent ul li a:focus{

outline:none;
}

.logo {
  height: 155px;
  width: 300px;
  z-index: 9999;
}
.stickynav .current-menu-item a{

color:#00ADEE!important;

}
.single_servicepage{

  margin:15px 5px;

}
.nav > li > a {
  color: #000;
  display: block;
  font-family: sans-serif;
  font-size: 15px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 10px !important;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
  font-family: 'Roboto', sans-serif;
}
.nav > li > a:active{
	color:#00ADEE;

}
.nav > li > a:focus{
    background: none;
    outline: none;
}
.nav > li > a:hover{
	color:#0fb5e9;
	background:none;

}

.stickynav{
	background:#fff;
        z-index: 9999;
}
    .navbar-toggle {
  background-color: #04AEEE;
  background-image: none;
  border: 1px solid #04AEEE;
  border-radius: 4px;
  float: right;
  margin-bottom: 8px;
  margin-right: 15px;
  margin-top: 50px;
  padding: 9px 10px;
  position: relative;
  color: #000;
}
.nav > li {
  display: block;
  padding-top: 60px;
  position: relative;
}
.navbar-toggle .icon-bar {
  border-radius: 1px;
  display: block;
  height: 3px;
  width: 22px;
  background: #000;
}

/* Slider css  */
.mainslider{
    padding: 10px 0;
    z-index: 0;
}
.mainslider .item img{
    width: 100%;
}
/* service css */
.service{
    padding: 10px;
    
}
.takeover{

height:100%;
}
/*.scrollup {
    background: #C7DA47 none repeat scroll 0 0;
    bottom: 4px;
    color: #fff;
    font-size: 25px;
    height: 40px;
    position: fixed;
    right: 5px;
    width: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}*/
#servicess .service_content{
   height:150px;

}
.service_content a {
    text-decoration: none;
    color:#000;
    font-family: 'Roboto', sans-serif;
}
.service_content h2 {
 
    color:#000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.service_img{
    padding-top: 20px;
}
.service_imgs{
    padding-top: 20px;
}
.service_imgs img {
  border: 1px solid #c8dc3c;
  border-radius: 10px;
  height: 250px;
  width: 400px;
  float: left;
}
.copyright_text a{
text-decoration:none;
}
.copyright_text a:focus{

outline:none;
}
.home_content{
    padding: 10px 30px;
}
.service_img img {
  border: 1px solid #c8dc3c;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.service_content p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.page_full_content{
    
    padding: 20px 50px;
}
.readmore{
    color:#00afe8!important;
}
/* Sidebar css*/
.sidebar{
    padding: 10px;
    
}
.sidebarform {
  background: #f2f2f2 none repeat scroll 0 0;
  padding: 20px;
  margin-bottom: 10px;
}

.phone input {
  border: medium none;
  height: 25px;
   font-size: 14px;
   width: 100%;
}
.your-name  input{
    border: none;
    height: 25px;
     font-size: 14px;
     width: 100%;
}
.your-email input{
     border: none;
     height: 25px;
      font-size: 14px;
      width: 100%;
}
.mesage textarea{
     border: none;
       font-size: 14px;
       width: 100%;
}

.formsubmit{
    background : url(../img/quote-icon.png);
   width:143px;
   height:37px;
   border: none;
   text-indent: -9999px; 
  margin-left: 25px;
 
}
/* post page css */
.post-info h2 a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    
}
.post-media img{
      width: 100%;
      height: 100%;
      padding: 5px;
}
.post-body{
    padding: 5px;
}
.post-body p{
   font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    
    color: #000;
   
}
.widget-area{
    padding: 10px 0;
}
.post-pagination {
    padding: 10px;
}
.post-pagination ul {
    padding: 0;
    margin: 0;
    list-style: none;
    
}
.post-pagination  ul li{
    float: left;
}
.post-pagination ul li a{
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: #13B1EE;
    font-family: 'Roboto', sans-serif;
}
.post-pagination ul li a i{
    font-size: 20px;
}
.post-pagination .current{
   font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: red; 
}
#comments #submit{
    background-color: #13B1EE;
  border-color: #13B1EE;
  color: #fff;
     -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

/* footer css */
.mainfooter {
  background: #13b1ee none repeat scroll 0 0;
  margin-top: 20px;
  padding: 20px 0;
}
.copyright_text p{
	font-size:14px;
	padding:5px 0;
	font-family: 'Roboto', sans-serif;
	color:#000;
}
.breadcrumb {
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  list-style: outside none none;
  margin-bottom: 2px;
  padding: 2px 0;
  background-color:#13b1ee;
}
.footer_menu ul li a {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration:none;
   transition: all 0.5s ease-in-out;
}
.footer_menu ul li a:hover{
	color:#c5d93a;
	
}


.scroll-to-top,
.scroll-to-bottom{
	padding:2px;
	position:fixed;
	width:32px;
	height:32px;
	opacity:0.8;
	cursor: pointer;
	z-index: 9999;
}
.scroll-to-top{
	bottom:20px;
	right:66px;
}
.scroll-to-bottom{
	bottom:20px;
	right:30px;
}

.stab-left .scroll-to-top {
	right: inherit;
	left: 30px;
} 
.stab-left .scroll-to-bottom{
	right: inherit;
	left:66px;
}
.stab-center .scroll-to-top {
	right: 50%;
	margin-right: 5px;
} 
.stab-center .scroll-to-bottom{
	right: 50%;
	margin-right: -30px
}
 
@media screen and (max-width:500px){	
		.scroll-btn-container {
			display: none;
		}

}

