/*
Theme Name: Waterview

*/



@media screen and (max-width: 1365px) {


body {
		
        background: url(../img/background.png);      
       
}


}

@media screen and (max-width: 980px) {
.logo {
  height: 155px;
  width: 150px;
 
}
.logo img{
width:150px;
}
.nav > li {
  
  padding-top: 20px;
 
}
body{
    background: #F2F2F2;
}
}
@media screen and (max-width: 768px) {

   


}

@media screen and (max-width: 640px) {
    .topbar{
        display: none
    }

}

@media screen and (max-width: 480px) {
.logo {
  
  width: 250px;
 
}
}

@media screen and (max-width: 320px) {
.logo {
  
  width: 250px;
 
}
.breadcrumb {
 
  margin-left: 1px;
}
}